<ul>
    .
	{{#each m}}
    <div class="table row">
        <div class="field">
            <div class="block">
                {{date}}
            </div>
        </div>
        <div class="field">
            <div class="block">
                {{upper}}
            </div>
        </div>
        <div class="field">
            <div class="block">
                {{lower}}
            </div>
        </div>
        <div class="field">
            <div class="block">
                {{pulse}}
            </div>
        </div>
        <div class="field">
            <div class="block">
                {{weight}}
            </div>
        </div>
    </div>
	{{/each}}
</ul>